<div class="row">
<div class="col-md-3">
</div>

<div class="col-md-4">
<div class="row">

<div class="panel panel-success">
<div class="panel-heading">Your Stories</div>
<div class="panel-body" ng-repeat="each in story.stories | reverse">
<p> {{each.content}}</p>
</div>
</div>
</div>
</div>
<div class="col-md-3">
</div>
</div>
