<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>User Story</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script type="text/javascript" src="
/socket.io/socket.io.js"></script>



<script type="text/javascript" src="app/services/authService.js"></script>
<script type="text/javascript" src="app/services/userService.js"></script>
<script type="text/javascript" src="app/services/storyService.js"></script>

<script type="text/javascript" src="app/controllers/mainCtrl.js"></script>
<script type="text/javascript" src="app/controllers/userCtrl.js"></script>
<script type="text/javascript" src="app/controllers/storyCtrl.js"></script>

<script type="text/javascript" src="app/directives/reverse.js"></script>

<script type="text/javascript" src="app/app.routes.js"></script>
<script type="text/javascript" src="app/app.js"></script>
</head>

<body ng-controller="MainController as main">
<header>
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a href="/" class="nav-bar-brand" ><span class="glyphicon glyphicon-book"></span>User Story</a>
			</div>

			<ul class="nav navbar-nav">
			<li><a href="/users"></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li ng-if="!main.loggedIn"><a href="/login">Login</a></li>
				<li ng-if="!main.loggedIn"><a href="/signup">SignUp</a></li>
				<li ng-if="main.loggedIn"><a href="#">Hello, {{main.user.username}}</a></li>
				<li ng-if="main.loggedIn"><a href="#" ng-click="main.doLogout()">Logout</a></li>
			</ul>
		</div>
	</div>

</header>

<main class="container">
	<div ng-view></div>
</main>
</body>
</html>